.select {
    font-size: 14px;
    width: 100%;
    font-family: var(--fontFamily);
    color: var(--dark);
    cursor: pointer;
    border-bottom: 1px solid #5c5c5c;
}

.dropdown {
    visibility: hidden;
    font-family: var(--fontFamily);
    color: var(--dark);
}

.dropdownVisible {
    visibility: visible !important;
    width: calc(160px - 8px);
}

.dropdownFullWidth{
    width: calc(100% - 8px) !important;
}