.item {
    font-family: var(--fontFamily);
    background-color: #f6f6f6;
    width: 100%;
    padding: 8px 0 8px 8px ;
    cursor: pointer;
    font-size: 14px;
}

.item:hover {
    background-color: #ededed;
}