.fullWidth{
    width: 100% !important;
}

.root{
    width: 160px;
    min-height: 40px ;
    font-family: var(--fontFamily);
    color: var(--dark);
}

.label{
    position: relative;
    font-size: 14px;
    font-family: var(--fontFamily);
    color: var(--dark);
    font-weight: 500;

}

.labelNotFocus{
    visibility: hidden;
}

.infoMessage {
    position: relative;
    font-size: 12px;
    font-family: var(--fontFamily);
}