.label{
    font-family: var(--fontFamily);
    font-size: 16px;
    margin-left: 8px;
}
.labelSmall{
    font-size: 14px !important;
}
.root{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 8px;
}

.rootSmall{
    height: 30px !important;
    width: 150px !important;
}
.fullWidth{
    width: 100% !important;
}

.check {
    visibility: hidden;
}

.checkChecked {
    visibility: visible !important;
}

.span{
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    transition: all 200ms;
}
.spanSmall {
    width: 16px;
    height: 16px;
}

.spanMedium {
    width: 24px;
    height: 24px;
}
